@media screen and (max-width: 800px) {
  .periodic-table {
    overflow-x: scroll;
    justify-content: initial;
    padding: 30px 20px 10px;
  }
  .iron-element {
    display: none;
  }
  .e-conf-table {
    margin: auto;
    width: auto;
    padding-inline-start: 0;
    margin: 0 auto;
  }
  .mini-table {
    margin-left: 30%;
    padding: 10px;
  }
  .notes-block {
    padding: 0 20px;
  }
}
