.q {
  height: 10px;
  width: 10px;
  border: 0.1px solid #000000;
}

.colors-table {
  min-width: 1250px;
  justify-content: space-between;
  display: flex;
  text-align: center;
  font-size: 10px;
}

.colors {
  width: 85%;
  margin: auto;
  margin-top: 20px;
}

.q-alkali-metals {
  background-color: #f55c66;
}

.q-alkaline {
  background-color: #fdebc4;
}

.q-lanthanides {
  background-color: #fccafc;
}

.q-actinides {
  background-color: #fcabbf;
}

.q-transition {
  background-color: #ffccce;
}

.q-unknown {
  background-color: #e0e0e0;
}

.q-post {
  background-color: #cccccc;
}

.q-metalloids {
  background-color: #cfcfab;
}

.q-reactive {
  background-color: #f6ff99;
}

.q-noble {
  background-color: #b8faf9;
}
