.e-conf-table {
  margin-top: -175px;
  width: 12em;
  padding-inline-start: 40px;
}

.notes-li {
  font-size: 8px;
  text-align: left;
}
.h-electron {
  font-size: 9px;
  font-weight: 300;
}
.notes {
  text-align: left;
  font-size: 12px;
  margin: 0;
  margin-top: 10px;
}
.letter-notes-p {
  padding-top: -10px;
}

.mini-table {
  width: 12em;
  height: 100px;
  display: grid;
  grid-template-columns: repeat(17, 0.5fr);
  grid-template-rows: repeat(10, 0.5fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1 {
  border-top: 0.5px solid black;
  border-bottom: 0.5px solid black;
  border-left: 0.5px solid black;
  grid-area: 1 / 1 / 9 / 2;
}
.div2 {
  grid-area: 2 / 2 / 9 / 3;
  border-top: 0.5px solid black;
  border-bottom: 0.5px solid black;
  border-right: 0.5px solid black;
}
.div3 {
  grid-area: 4 / 3 / 9 / 4;
  border-top: 0.5px solid black;
  border-bottom: 0.5px solid black;
  border-right: 0.5px solid black;
}
.div4 {
  grid-area: 4 / 5 / 9 / 14;
  text-align: left;
  border-top: 0.5px solid black;
  border-bottom: 0.5px solid black;
  border-left: 0.5px solid black;
}
.div5 {
  text-align: left;
  grid-area: 2 / 14 / 9 / 18;
  border: 0.5px solid black;
}
.div6 {
  grid-area: 1 / 17 / 2 / 18;
  border-top: 0.5px solid black;
  border-left: 0.5px solid black;
  border-right: 0.5px solid black;
}
.div7 {
  grid-area: 12 / 5 / 14 / 17;
  text-align: left;
  border: 0.5px solid black;
}
.letter-notes {
  padding: 3px;
}

.div1,
.div2,
.div6 {
  background-color: rgb(255, 153, 153);
}

.div3,
.div4 {
  background-color: rgb(153, 204, 255);
}

.div5 {
  background-color: rgb(251, 254, 139);
}

.div7 {
  background-color: rgb(155, 251, 155);
}
