.periodic-table {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(65px));
  justify-content: center;
}

.element {
  font-size: 7px;
  border: 0.1px solid #000000;
  padding: 5px;
  cursor: pointer;
  height: 62px;
  width: 65px;
  position: relative;
  display: grid;
}

sup {
  font-size: 3px;
}

.ionization-energy {
  text-align: left;
  line-height: 80%;
}

.sep {
  width: 34px;
  grid-row: span 4;
  grid-column: 4;
}

.sep1 {
  height: 34px;
  grid-row: 8;
  grid-column: span 10;
}

.electronegativity {
  line-height: 80%;
  margin-left: 6px;
}

.atomic-weight {
  text-align: left;
  grid-row: 1;
  grid-column: 1;
  font-weight: 600;
  font-size: 9px;
  line-height: 8px;
}

.ionization-energy {
  grid-row: 2;
  grid-column: 1;
  line-height: 10%;
  margin-top: -4px;
  text-align: left;
}

.oxidation-states {
  text-align: right;
  grid-row: span 4;
  grid-column: 4;
  font-weight: 700;
  margin-top: -45px;
  line-height: 5px;
  font-size: 5px;
}

.atomic {
  display: flex;
  grid-row: 2;
}

.electronegativity {
  grid-row: 2;
  grid-column: 1;
  line-height: 10%;
  margin-top: -4px;
  margin-left: 3px;
}

.atomic-number {
  grid-column: span 3;
  grid-row: 1;
  line-height: 80%;
  text-align: right;
  font-size: 20px;
  font-weight: 600;
}

.electron-configuration {
  grid-column: span 4;
  grid-row: 6;
  text-align: left;
  font-size: 6px;
  font-weight: 500;
  letter-spacing: -0.5px;
}

.name {
  text-align: left;
  font-weight: 300;
  grid-row: 4;
  grid-column: span 3;
  line-height: 7px;
  font-size: 7px;
}

.russian-name {
  grid-column: span 4;
  grid-row: 5;
  text-align: left;
  font-weight: 600;
  line-height: 10px;
  font-size: 9px;
}

.chemical-symbol {
  grid-column: 1;
  grid-row: 3;
  text-align: left;
  font-weight: 500;
  font-size: 26px;
  margin-top: -2px;
  line-height: 99%;
}
