.periodic-table {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  margin: auto;
  width: 1420px;
}

.element {
  font-size: 7px;
  border: 0.1px solid #000000;
  padding: 4px;
  cursor: pointer;
  width: 68px;
  height: 68px;
  position: relative;
  display: grid;
}

.element:hover {
  background-color: #f0f0f0;
}

.selected {
  background-color: #aaf;
}

.atomic-weight {
  font-size: 10px;
  text-align: left;
  grid-row: 1;
  line-height: 8px;
  grid-column: 1;
  font-weight: 700;
}

.ionization-energy {
  line-height: 80%;
  text-align: left;
}

.sep {
  width: 34px;
  grid-row: span 4;
  grid-column: 4;
}

.sep1 {
  height: 34px;
  grid-row: 8;
  grid-column: span 10;
}

.oxidation-states {
  text-align: right;
  line-height: 7px;
  grid-row: span 10;
  grid-column: 4;
  font-size: 6px;
  margin-top: 4px;
}

.atomic {
  display: flex;
  grid-row: 2;
}

.electronegativity {
  line-height: 80%;
  margin-left: 6px;
}

.atomic-number {
  font-size: 2.4em;
  text-align: right;
  line-height: 80%;
  font-weight: 500;
  grid-row: 1;
  grid-column: span 3;
}

.electron-configuration {
  text-align: left;
  font-size: 6px;
  grid-row: 6;
  grid-column: span 3;
}

.name {
  font-size: 1.2em;
  text-align: left;
  font-weight: bold;
  line-height: 90%;
  grid-row: 4;
  grid-column: span 2;
}

.russian-name {
  text-align: left;
  grid-row: 5;
  grid-column: span 2;
}

.symbol {
  text-align: left;
  font-weight: 600;
  font-size: 3.4em;
  grid-column: 1;
}
